@font-face {
    font-family: 'Satoshi';
    src: url('../public/fonts/Satoshi-Regular.woff');
    font-family: 'Quicksand';
    src: url('../public/fonts/Quicksand-Regular.woff');
}

:root{
    --primaryColor : #f9f9f9;
    --secondaryColor : #232323;
    --tertierColor : #D7B865;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(.625 * 16px);
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}