@use 'mixins';

.background{
    width: 100%;
    height: 100dvh;
    background: url('../public/imageAssets/landing-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
}

.background__overlay{
    width: 100%;
    height: 100dvh;
    background: linear-gradient(180deg, #232323 0%, #232323 0.01%, rgba(0, 0, 0, 0) 79.09%);
    position: absolute;
}

.main__content{
    width: 100%;
    height: 100dvh;
    position: absolute;
    padding-inline: 2.4rem;
    padding-top: 3.2rem;
    @include mixins.flexPos(flex-start, center, column);

    h1{
        @include mixins.fontOpt('Satoshi', 1.6rem, 700, var(--secondaryColor));
        text-align: center;
        margin-top: 5.2rem;
    }

    .text__wrapper{
        margin-top: 11.9rem;
        @include mixins.flexPos(flex-start,center,column);

        h2{
            @include mixins.fontOpt('Satoshi', 3.2rem, 300, var(--secondaryColor));
            text-transform: uppercase;
        }

        h3{
            margin-top: 1.6rem;
        }

        h3,span{
            @include mixins.fontOpt('Satoshi', 3.2rem, 700, var(--secondaryColor));
            text-transform: uppercase;

            span{
                text-decoration: underline;
            }
        }

        p{
            @include mixins.fontOpt('Quicksand', 1.6rem, 400, var(--secondaryColor));
            margin-top: 1.6rem;
            text-align: center;
            width: 75%;
        }
    }

    .main__cta{
        width: 40%;
        background: var(--tertierColor);
        padding: 1.2rem 2.4rem;
        margin-top: 3.2rem;
        @include mixins.fontOpt('Quicksand', 1.6rem, 700, var(--primaryColor));
        text-align: center;
        border-radius: 1.6rem;
    }

}

@include mixins.responsive(min-width, 768px){
    .main__content{
        h1{
            @include mixins.fontOpt('Satoshi', 2rem, 700, var(--secondaryColor));
        }

        .text__wrapper{
            margin-top: 7.2rem;
        }
    }

}

@include mixins.responsive(min-width, 1024px){
    .main__content{
        h1{
           width: 25%;
        }

        .text__wrapper{
            margin-top: 12.5rem;

            h2{
                @include mixins.fontOpt('Satoshi', 5.2rem, 300, var(--secondaryColor));
            }

            h3,span{
                @include mixins.fontOpt('Satoshi', 5.2rem, 700, var(--secondaryColor));
            }

            p{
                @include mixins.fontOpt('Quicksand', 2.4rem, 400, var(--secondaryColor));
            }
        }

        .main__cta{
            width: 25%;
            @include mixins.fontOpt('Quicksand', 2.4rem, 700, var(--primaryColor));
        }
    }


}